<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% load staticfiles %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons and apple-touch-icon.png -->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'app/img/favicon/apple-touch-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'app/img/favicon/apple-touch-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'app/img/favicon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'app/img/favicon/apple-touch-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'app/img/favicon/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'app/img/favicon/apple-touch-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'app/img/favicon/apple-touch-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'app/img/favicon/apple-touch-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/img/favicon/apple-touch-icon-180x180.png' %}">
	<link rel="icon" type="image/png" href="{% static 'app/img/favicon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static 'app/img/favicon/android-chrome-192x192.png' %}" sizes="192x192">
	<link rel="icon" type="image/png" href="{% static 'app/img/favicon/favicon-96x96.png' %}" sizes="96x96">
	<link rel="icon" type="image/png" href="{% static 'app/img/favicon/favicon-16x16.png' %}" sizes="16x16">
	<link rel="manifest" href="{% static 'app/img/favicon/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="{% static 'app/img/favicon/mstile-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

	<!-- Google web fonts -->
	<link rel='stylesheet' href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" />
	<link rel='stylesheet' href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css" />

	<!-- CSS styles -->
	<link rel="stylesheet" href="{% static 'app/css/libreeze.css' %}" />

	<script src="{% static 'app/js/vendor/modernizr-2.6.2.min.js' %}"></script>
</head>

<body>
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="container bodywrapper">
		<div class="row">
			<div class="column">
				<header>
					<a href="/"><img class="logo" src="{% static 'app/img/logo.png' %}" alt="libreeze" /></a>
					<h2 class="text-center">Instant answers to common questions</h2>
				</header>
				<div class="faquestions">
					<ul class="multicol twocol">
						<li>
							<a href="#whatdoesitdo">What does it do?</a>
						</li>
						<li>
							<a href="#whatdoineedtodo">What do I need to do?</a>
						</li>
						<li>
							<a href="#whatdoiget">What do I get?</a>
						</li>
						<li>
							<a href="#getnotified">What do I need to do to get notified whenever there is a library update?</a>
						</li>
						<li>
							<a href="#monitorfiles">Can Libreeze monitor more configuration files at the same time?</a>
						</li>
						<li>
							<a href="#projectfile">What do we do with your project configuration file?</a>
						</li>
						<li>
							<a href="#unsubscribe">How to unsubscribe?</a>
						</li>
						<li>
							<a href="#price">What is the price for this service?</a>
						</li>
						<li>
							<a href="#guarantee">Are there any guarantees?</a>
						</li>
						<li>
							<a href="#contact">How to get in contact?</a>
						</li>
					</ul>
				</div>

				<div class="faqanswers">
					<ul>
						<li id="whatdoesitdo">
							<h5>What does it do?</h5>
							<p>Sends you an email when a library you use gets an update.</p>
						</li>
						<li id='whatdoineedtodo'>
							<h5>What do I need to do?</h5>
							<p>Upload project configuration file (pom file) on Libreeze.net main page.</p>
						</li>
						<li id="whatdoiget">
							<h5>What do I get?</h5>
							<p>Instant overview of libraries used in your project and if they are up to date.</p>
						</li>
						<li id="getnotified">
							<h5>What do I need to do to get notified whenever there is a library update?</h5>
							<p>Just leave your email and go through the email verification process. We will send you an email every time a library from your pom gets an update.</p>
						</li>
						<li id="monitorfiles">
							<h5>Can Libreeze monitor more configuration files at the same time?</h5>
							<p>Yes. Just repeat the process for each project configuration file you would like to receive email notification when some of the libraries get an update.</p>
						</li>
						<li id="projectfile">
							<h5>What do we do with your project configuration file?</h5>
							<p>After upload we parse the file and get the project name, list of libraries and current versions you use. We do not store your file nor any other information.
						If you choose to leave your email and subscribe to notifications we will store your email address, project name and a list of library names. Nothing else.</p>
						</li>
						<li id="unsubscribe">
							<h5>How to unsubscribe?</h5>
							<p>Just click on unsubscribe link in notification email you got from Libreeze. We will delete all related data.</p>
						</li>
						<li id="price">
							<h5>What is the price for this service?</h5>
							<p>This service is free of charge. </p>
						</li>
						<li id="guarantee">
							<h5>Are there any guarantees?</h5>
							<p>Since this is a free of charge service we do not guarantee that service will be up and running all the time. We can pause or cancel the service without prior notice. Libreeze.net can not be held responsible for any damages caused by not having the libraries up to date or stoping this service.</p>

						</li>
						<li id="contact">
							<h5>How to get in contact?</h5>
							<p>Email us: contact at libreeze.net.</p>
						</li>
					</ul>
				</div>
				<a href="#" class="scrollToTop">back to top</a>
			</div>
		</div>
	</div>

	<footer class="text-center">
		<div class="container footerwrapper">
			<div class="row">
				<div class="column">
					&copy;libreeze 2015
				</div>
			</div>
		</div>
	</footer>

	<!-- JavaScript Includes -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
	</script>

	<!-- Our JS files -->
	<script src="{% static 'app/js/plugins.js' %}"></script>
	<script src="{% static 'app/js/lb-scrollto.js' %}"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-61878758-1', 'auto');
	  ga('send', 'pageview');

	</script>

</body>

</html>
