<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% load staticfiles %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Libreeze</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- Google web fonts -->
	<link rel='stylesheet' href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" />
	<link rel='stylesheet' href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css" />

	<!-- CSS styles -->
	<link rel="stylesheet" href="{% static 'app/css/lb-upload.css' %}" />

	<script src="{% static 'app/js/vendor/modernizr-2.6.2.min.js' %}"></script>
</head>

<body>
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="container">
		<div class="row">
			<header><a href="/">libreeze.net</a></header>
<!--
			<nav>
				<ul>
					<li><a href="support">Support</a></li>
				</ul>
			</nav>
-->
		</div>
		<div class="row">
			<div class="column">
				<div class="lb-steps">

					<div>
<!--
						<div class="icon">
							<div class="pointerTop"></div>
							<div class="upload"></div>
						</div>
						<span class="lb-step-ico upload"></span>
						<h1>Upload your <i>pom</i> file</h1>
-->
						Upload your pom file
						<span class="sub-text">don't worry, we do not scan anything except your project dependencies</span>
					</div>
<!--					<div class="next-step">~</div>-->
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div>
<!--
						<div class="icon">
							<div class="tick"></div>
						</div>
						<span class="lb-step-ico list"></span>
						<h2>Check latest libraries</h2>
-->
						See latest libraries
						<span class="sub-text">we'll find and display a list of latest available versions</span>
					</div>
<!--					<div class="next-step">~</div>-->
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div>
<!--
						<div class="icon">
							<div class="letter"></div>
						</div>
-->
<!--
						<div class="icon">
							<div class="belltop"></div>
							<div class="bellbottom"></div>
						</div>
-->
<!--						<span class="lb-step-ico email"></span>-->
<!--						<h3>Leave your email</h3>-->
						Leave your email
						<span class="sub-text">and we will send you a notification whenever a new version of your libraries is released</span>
					</div>
				</div>

				<br/>

				<!-- conditionally set classes "lb-err", "lb-warn", "lb-success" to declare notification type and class "hidden" to toggle it's visibility -->
                {% if error %}
				<div class="notification lb-err">{{ error }}</div>
                {% endif %}

				<br/>

				<div class="shadowbox lb-upload">
					<!-- Browse form -->
					<form id="upload-file" method="post" action="{% url 'app:submit_file' %}" enctype="multipart/form-data">
						<button class="browse-btn" type="button">Browse</button>
						<input type="file" name="pom-file" accept=".xml" />
						<button type="submit">Upload</button>
					</form>

					<span>- or -</span>

					<!-- Paste form -->
					<div>
						<button type="button" class="toggle-upload-text">Paste</button>
					</div>
					<form id="upload-text" method="post" action="{% url 'app:submit_text' %}">
						<span class="lb-close-upload toggle-upload-text">x</span>
						<textarea name="pom-code"></textarea>
						<button type="submit">Upload</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<br/>
	<br/>
	<br/>

	<footer class="text-center">&copy;libreeze 2015</footer>

	<!-- JavaScript Includes -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
	</script>

	<!-- Our JS files -->
	<script src="{% static 'app/js/plugins.js' %}"></script>
	<script src="{% static 'app/js/lb-fileupload.js' %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61878758-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
