@import url('lb-main.css');
/*
 * Custom
 */

table {
	font-size: .9em;
}

.cell-L {
	min-width: 15em;
}

.cell-M {
	min-width: 11em;
}

.cell-S {
	min-width: 6em;
}

caption {
	font-size: .85em;
	margin-bottom: 4em;
}

.version {
	min-width: 10em;
	padding-left: 0;
	padding-right: 35px;
}

h4 {
	margin: 3rem 0;
}

tr.dependency-item:nth-child(4n+1),
tr.dependency-item:nth-child(4n+1) + tr.dependency-xml {
	background-color: #f0f0f0;
}

table th:first-child, table td:first-child
{
	padding-left: 15px;
}

table th:last-child, table td:last-child
{
	padding-right: 15px;
}

/*
 * Icons
 */

td.version, td.view-xml {
	position: relative;
}

.lb-ico {
	position: absolute;
	top: 31%;
	margin: 0 0 0 10px;
}

.lb-ico:before,
.lb-ico:after {
	content: "";
	position: absolute;
}
/*
 * Warning icon
 */

.lb-ico-warn:before {
	content: "!";
	color: #000;
	z-index: 2;
	left: 9.5px;
	font-size: 14px;
	font-weight: bold;
}

.lb-ico-warn:after {
	border-width: 0 11px 18px;
	border-color: #fce04a transparent;
	background: transparent;
	z-index: 1;
	border-style: solid;
}
/*
 * Tick icon
 */

.lb-ico-ok:before {
	left: 3px;
	width: 18px;
	height: 18px;
	border-radius: 16px;
	background: #6dc147;
}

.lb-ico-ok:after {
	left: 9px;
	width: 4px;
	height: 10px;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: #fff;
	margin-top: 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*
 * Chevrons icon
 */

.lb-ico-chevron {
	padding: 15px 20px;
	margin: 0;
	top: 20%;
}

.lb-ico-chevron:before {
	content: "";
	border-width: 0 0 3px 3px;
	border-color: #34495e;
	border-style: solid;
	left: 13px;
  	top: 20%;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(-45deg) scale(1);
	-ms-transform: rotate(-45deg) scale(1);
	transform: rotate(-45deg) scale(1);
	-webkit-transition: border .2s, -webkit-transform .2s, top .2s;
	transition: border .2s, transform .2s, top .2s;
}

.lb-ico-chevron:hover:before {
	border-color: #2980b9;
	transform: rotate(-45deg) scale(1.15);
	transition: .5s;
}

.active .view-xml .lb-ico-chevron:before {
	border-color: #2980b9;
	top: 40%;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
/*
 * XML code
 */

.view-xml span,
.copy-xml {
	cursor: pointer;
}

.xml_result {
	width: 100%;
	height: 10em;
	font-size: .8em;
	margin: 0;
}

.xml-acts {
	list-style: none;
	font-size: .8em;
	margin: .5em;
	float: right;
}

.xml-acts li {
	display: inline;
	padding: 3px 8px;
	color: #2980b9;
}
.copy-xml
{
	position: relative;
	overflow: hidden;
}
.copy-xml:before {
	content: "~>";
	color: #888;
	font-weight: bold;
	position: absolute;
	left: -1.25em;
	padding-right: 5px;
	transition: .3s;
}
.copy-xml.zeroclipboard-is-hover:before {
	color: #2980b9;
    left: -0.8em;
	transition: .55s;
}

.dependency-xml td {
	padding: 0;
}

.dependency-xml div {
	width: 40em;
	height: 11em;
	float: right;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
	-webkit-transition-property: opacity, height;
	transition-property: opacity, height;
	display: block;
	position: relative;
}

tr.active td,
.dependency-collapsed td {
	border: 0;
}

.dependency-collapsed div {
	opacity: 0;
	height: 0px;
}
.no-js .dependency-collapsed div {
	opacity: 1;
	height: auto;
}
.no-js .dependency-collapsed td {
	border-bottom: 1px solid #E1E1E1;
}
.no-js .dependency-item td {
	border-bottom: 0 none;
}
/*
 * Email form
 */

.contact-form {
	margin: 4rem auto 3rem;
	width: 50%;
	text-align: center;
}

.contact-form form {
	font-size: .9em;
}

.contact-form .notification {
	margin-bottom: 1.5em;
}

.contact-form input {
	width: 20em;
}

.contact-form button {
	vertical-align: top; /*for some reason, button is misaligned with the input for no more than a pixe but it's anoying - Chrome only*/
}
/*
 * Javascript dependent styles
 */
