@import url('lb-main.css');
/*
 * Custom
 */

.lb-steps {
	display: table;
	margin-bottom: 2.5rem;
}

.lb-steps div {
	display: table-cell;
}

.lb-upload-container p {
	margin: 0;
	font-size: .8em;
}

.lb-upload {
	text-transform: uppercase;
	text-align: center;
	color: #7f858a;
	font-family: 'PT Sans Narrow', sans-serif;
	width: 18em;
	padding: 40px 25px;
	border-radius: 3px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.lb-upload button {
	padding: 12px 26px;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	margin-top: 12px;
	line-height: 1;
}

.lb-upload .browse-btn {
	display: inline-block;
}

.lb-upload textarea {
	margin-bottom: .2rem;
}

#upload-file {
	text-align: center;
	font-weight: bold;
}

#upload-text {
	margin-bottom: 0;
}

textarea {
	font-size: .75em;
	height: 15em;
	width: 100%;
}

.lb-err,
.lb-warn,
.lb-success {
	width: 63%;
	margin: 0 auto;
	font-size: .75em;
	padding: 14px 25px;
}

.lb-err {
	background-color: rgba(255, 0, 0, 0.15);
}

.lb-warn {
	background-color: rgba(255, 196, 0, 0.15);
}

.lb-success {
	background-color: rgba(0, 255, 69, 0.15);
}

.lb-close-upload {
	color: #cc3737;
	float: right;
	font-weight: bold;
	font-size: .6em;
	border-radius: 10px;
	border: 2px solid rgba(255, 0, 0, 0.15);
	padding: 0 6px;
	margin-right: -22px;
}

.lb-close-upload:hover {
	background-color: rgba(255, 0, 0, 0.15);
	color: #cc3737;
	cursor: pointer;
}
/*
 * Javascript dependent styles
 */

#upload-text,
input[type="file"],
#upload-file button[type="submit"] {
	display: none;
}

.no-js #upload-text,
.no-js input[type="file"] {
	display: block;
}

.no-js #upload-file button[type="submit"] {
	display: inline-block;
}

.no-js .browse-btn,
.no-js .toggle-upload-text {
	display: none;
}