@import url('lb-main.css');
/*
 * Custom
 */

.lb-steps {
	display: table;
	margin-bottom: 2.5rem;
}

.lb-steps div {
	display: table-cell;
}

.lb-upload-container p {
	margin: 0;
	font-size: .8em;
}

.shadowbox.lb-upload {
	text-align: center;
	width: 18em;
}

.shadowbox.lb-upload {
	text-align: center;
	width: 18em;
}

.notification {
	text-align: center;
	width: 22em;
}

.lb-upload button {
	margin-top: 12px;
}

.lb-upload textarea {
	margin-bottom: .2rem;
}

#upload-text {
	margin-bottom: 0;
}

.lb-close-upload {
	color: #cc3737;
	float: right;
	font-weight: bold;
	font-size: .6em;
	border-radius: 10px;
	border: 2px solid rgba(255, 0, 0, 0.15);
	padding: 0 6px;
	margin-right: -22px;
}

.lb-close-upload:hover {
	background-color: rgba(255, 0, 0, 0.15);
	color: #cc3737;
	cursor: pointer;
}
/*
 * Javascript dependent styles
 */

#upload-text,
input[type="file"],
#upload-file button[type="submit"] {
	display: none;
}

.no-js #upload-text,
.no-js input[type="file"] {
	display: block;
}

.no-js #upload-file button[type="submit"] {
	display: inline-block;
}

.no-js .browse-btn,
.no-js .toggle-upload-text {
	display: none;
}
