@import url('normalize.css');
@import url('skeleton-2.0.4/skeleton.css');
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
   Libreeze custom styles
   ========================================================================== */
/* === Global === */

th {
	vertical-align: top;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	overflow: hidden;
	margin: 0;
}

nav li {
	float: left;
	margin: 0 0 0 20px;
}

header h1,
header h2 {
	margin: 7rem 0;
	clear: both;
}

.logo {
	text-decoration: none;
	color: inherit;
}

/* === Sticky Footer === */

html,
body {
	color: #2c3e50;
	height: 100%;
}

.bodywrapper {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -100px;
}

.bodywrapper:after {
	content: "";
	display: block;
}

footer,
.bodywrapper:after {
	height: 100px;
}

.bodywrapper:after {
	margin-top: 30px;
}

footer {
	font-size: .85em;
	background-color: #f7f7f7;
}

.footerwrapper {
	padding: 25px 0;
}

/* === Notifications === */

.notification {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-size: .85em;
	padding: 2% 10%;
}

.notification.lb-err {
	background-color: rgba(255, 0, 0, 0.15);
}

.notification.lb-warn {
	background-color: rgba(255, 196, 0, 0.15);
}

.notification.lb-success {
	background-color: rgba(0, 255, 69, 0.15);
}
/* === Shadow Boxes === */

.shadowbox {
	border: 1px solid #ccc;
	padding: 40px 25px;
	border-radius: 3px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.shadowbox h6 {
	letter-spacing: 1px
}

.verify-email-note {
	margin-top: 6%;
	width: 55%;
}
/* === Helper classes === */

.sub-text {
	display: block;
	color: #777;
	font-size: .9em;
	line-height: 1.5em;
	text-align: justify;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

ul.multicol li {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

ul.twocol {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
/* === Steps === */

.lb-steps {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 4em 0;
	width: 100%;
}

.lb-steps h1,
.lb-steps h2,
.lb-steps h3 {
	font-size: 1.3em;
	letter-spacing: normal;
	font-weight: 600;
	text-align: center;
	margin: 1.5em 0 1em 0;
}

.lb-steps div {
	max-width: 270px;
}

.lb-steps .next-step {
	width: 75px;
	text-align: center;
	font-size: 1.5em;
	padding-top: 5.15em;
}
/* === Upload Section === */

#lb-upload-container p {
	margin: 0;
	font-size: .8em;
}

#lb-upload {
	text-align: center;
	margin: 0 auto;
	width: 300px;
}

#lb-upload .notification {
	margin-bottom: 1em;
}

.shadowbox.lb-upload-inner {
	padding: 55px 20px;
}

#lb-upload button {
  height: 43px;
  padding: 0 33px;
  font-size: 13px;
  line-height: 43px;
  letter-spacing: 0.05rem;
}

#upload-text {
	height: 0px;
	margin-bottom: 0;
}

#upload-text textarea {
	font-size: .75em;
	height: 80%;
	width: 100%;
}

#upload-text {
}
/* === Close Upload Icon === */

.lb-close {
	position: relative;
	float: right;
	width: 18px;
	height: 18px;
	margin: 2px;
	transform: rotate(45deg);
	border: 1px solid #cc3737;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.lb-close:before,
.lb-close:after {
	content: '';
	pointer-events: none;
	box-shadow: inset 0 0 0 32px #cc3737;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.lb-close:after {
	height: 10px;
	width: 2px;
}

.lb-close:before {
	width: 10px;
	height: 2px;
}

.lb-close:hover {
	background-color: rgba(255, 0, 0, 0.09);
	color: #cc3737;
	cursor: pointer;
}
/* === Upload Icon === */

div.icon {
	height: 48px;
	width: 48px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

div.icon div.upload {
	width: 40px;
	height: 15px;
	border: 4px solid #2ba6cb;
	border-top: none;
	position: absolute;
	bottom: 0;
}

div.icon div.pointerTop {
	width: 15px;
	height: 15px;
	border: solid #2ba6cb;
	border-width: 4px 4px 0 0;
	position: relative;
	margin: 0 auto;
	top: 22px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* === Tick Icon === */

div.icon div.tick {
	width: 35px;
	height: 4px;
	border-color: #2ba6cb;
	margin: 0 0 0 10px;
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 11px;
	border-width: 0px 0 4px 0;
	border-style: solid;
}

div.icon div.tick:after {
	content: '';
	width: 18px;
	height: 6px;
	border-color: #2ba6cb;
	position: absolute;
	top: -6px;
	left: -4px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	border-style: solid;
	border-width: 0px 0px 4px 0px;
}

/* === Letter Icon === */

.letter {
	background: #fff;
	height: 27px;
	border: 4px solid #2ba6cb;
	width: 40px;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.letter:before,
.letter:after {
	content: '';
	position: absolute;
	left: 96%;
	height: 60px;
	width: 60px;
	-webkit-transform: rotate(45deg) skew(-5deg, -5deg);
	-ms-transform: rotate(45deg) skew(-5deg, -5deg);
	transform: rotate(45deg) skew(-5deg, -5deg);
	margin-left: -50px;
	height: 60px;
	width: 60px;
	background-color: #fff;
	border-color: #2ba6cb;
	border-style: solid;
}

.letter:before {
	bottom: -190%;
	border-width: 4px 0px 0px 4px;
}

.letter:after {
	top: -195%;
	border-width: 0px 4px 4px 0;
}
/* === Dependencies Table === */

.version {
	padding-left: 35px;
}

tr.dependency-item:nth-child(4n+1),
tr.dependency-item:nth-child(4n+1) + tr.dependency-xml {
	background-color: #f0f0f0;
}
tr.odd,
tr.odd + tr.dependency-xml {
	background-color: #f0f0f0;
}

table th:first-child,
table td:first-child {
	padding-left: 15px;
}

table th:last-child,
table td:last-child {
	padding-right: 15px;
}

td.version,
td.view-xml {
	position: relative;
}

/* === XML Code === */

.view-xml span,
.copy-xml {
	cursor: pointer;
}

.xml_result {
	height: 10em;
	font-size: .8em;
	margin: 0;
	width: 100%;
	display: block;
	clear: both;
}

.xml-acts {
	list-style: none;
	font-size: .8em;
	margin: .5em;
	float: right;
}

.xml-acts li {
	display: inline;
	padding: 3px 8px;
}

.copy-xml {
	position: relative;
	overflow: hidden;
}

.copy-xml:before {
	content: "~>";
	color: #2ba6cb;
	font-weight: bold;
	position: absolute;
	left: -1.25em;
	padding-right: 5px;
	-webkit-transition: .3s;
	transition: .3s;
}

.copy-xml.zeroclipboard-is-hover:before {
	left: -0.8em;
	-webkit-transition: .55s;
	transition: .55s;
}

.dependency-xml td {
	padding: 0;
}

.dependency-xml div {
	height: 11em;
	opacity: 1;
	width: 50%;
	float: right;
	display: block;
	position: relative;
	visibility: visible;
	transition: all .5s ease-in;
}

.dependency-collapsed div {
    opacity: 0;
    height: 0;
	visibility: hidden;
}

tr.dependency-collapsed td {
	border-collapse: separate;
}

.dep-table {
	width: 120%;
	margin: 0 -10%;
}

.dep-table tr:not(.dependency-xml) td:before {
	display: none;
}

.dep-table th,
.dep-table td {
	display: table-cell;
}

tr.active td,
tr.dependency-collapsed td {
	border: 0 none;
}

/* === Icons === */

.lb-ico {
	position: absolute;
	top: 31%;
}

.version .lb-ico {
	left: 0;
}

.lb-ico:before,
.lb-ico:after {
	content: "";
	position: absolute;
}
/* === Warning Icon === */

.lb-ico-warn:before {
	content: "!";
	color: #000;
	z-index: 2;
	left: 9.5px;
	font-size: 14px;
	font-weight: bold;
}

.lb-ico-warn:after {
	border-width: 0 11px 18px;
	border-color: #fce04a transparent;
	background: transparent;
	z-index: 1;
	border-style: solid;
}
/* === Tick Icon === */

.lb-ico-ok:before {
	left: 3px;
	width: 18px;
	height: 18px;
	border-radius: 16px;
	background: #6dc147;
}

.lb-ico-ok:after {
	left: 9px;
	width: 4px;
	height: 10px;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: #fff;
	margin-top: 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* === Chevron Icon === */

.lb-ico-chevron {
	padding: 15px 20px;
	margin: 0;
	top: 20%;
}

.lb-ico-chevron:before {
	content: "";
	border-width: 0 0 3px 3px;
	border-color: #2c3e50;
	border-style: solid;
	left: 13px;
	top: 20%;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(-45deg) scale(1);
	-ms-transform: rotate(-45deg) scale(1);
	transform: rotate(-45deg) scale(1);
	-webkit-transition: border .2s, -webkit-transform .2s, top .2s;
	transition: border .2s, transform .2s, top .2s;
}

.lb-ico-chevron:hover:before {
	border-color: #2ba6cb;
	-webkit-transform: rotate(-45deg) scale(1.15);
	-ms-transform: rotate(-45deg) scale(1.15);
	transform: rotate(-45deg) scale(1.15);
	-webkit-transition: .5s;
	transition: .5s;
}

.active .view-xml .lb-ico-chevron:before {
	border-color: #2ba6cb;
	top: 40%;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
/* === Email Form === */

.contact-form {
	max-width: 500px;
	margin: 1em auto;
	text-align: center;
}

.contact-form label {
	margin-bottom: 1em;
}

.contact-form .notification {
	margin-bottom: 1.5em;
}

.contact-form input {
	width: 23em;
}

.contact-form button {
	vertical-align: top;
	/*for some reason, button is misaligned with the input for no more than a pixe but it's anoying - Chrome only*/
}

@media only screen and (max-width : 960px) {

	.dep-table {
		margin: 0 auto;
		width: 60%;
		min-width: 390px;
	}

	.dep-table th {
		display: none;
	}

	.dep-table td {
		display: block;
	}

	.dep-table tr:not(.dependency-xml) td:before {
		content: attr(data-th) " :  ";
		font-weight: bold;
		width: 8.5em;
		display: inline-block;
	}
	tr.dependency-xml {
		border-bottom: 2px solid #ddd;
	}
	tr.active td {
		border-bottom: 1px solid #ddd;
	}

	tr.active td.view-xml,
	tr.dependency-xml td {
		border: 0;
	}

	.dependency-xml div {
		width: 100%;
	}

	.version {
		padding-left: 15px;
	}

	.version .lb-ico {
		left: initial;
		margin-left: 1em;
	}
}

/* === Support / FAQ page === */
.support-opts,
.faquestions {
	margin: 7em auto 4em;
}
.support-opts {
	font-size: 1.15em;
	max-width: 550px;
	margin: 130px auto 0;
}

.support-opts li {
	margin-bottom: 1.5em;
}

.faquestions a {
	color: #2c3e50;
}

.faquestions ul,
.faqanswers ul {
	list-style-type: none;
}

.faquestions li {
    padding-left: 1em;
    text-indent: -1em;
	line-height: 1em;
}

.faquestions li:before {
	content: "• ";
	font-size: 2em;
	line-height: 1em;
	vertical-align: middle;
	color: #1EAEDB;
}

.faqanswers {
	border-top: 1px solid #ddd;
	padding: 30px 50px 0;
}
.faqanswers li {
	border-bottom: 1px solid #ddd;
	padding: 20px 30px 0;
	margin-bottom: 0;
}

.faqanswers li *:first-child {
	font-weight: bold;
	color: #1EAEDB;
}

.faqanswers p {
	margin-top: 25px;
}

.faqanswers li:target {
  animation: target-fade 2s 1;
  -moz-animation: target-fade 2s 1;
  -webkit-animation: target-fade 2s 1;
}

@-webkit-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.1); }
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.1); }
    100% { background-color: rgba(0,0,0,0); }
}

.scrollToTop{
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,.05);
	font-weight: bold;
	color: inherit;
	text-decoration: none;
	position: fixed;
	top: 200px;
	right: 35px;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
}
/* === Javascript dependent styles === */

#upload-text,
input[type="file"],
#upload-file button[type="submit"] {
	display: none;
}

.no-js #upload-text,
.no-js input[type="file"] {
	display: block;
}

.no-js #upload-file button[type="submit"] {
	display: inline-block;
}

.no-js .browse-btn,
.no-js .toggle-upload-text {
	display: none;
}

.no-js .dependency-collapsed div {
	opacity: 1;
	height: auto;
}

.no-js .dependency-collapsed td {
	border-bottom: 1px solid #E1E1E1;
}

.no-js .dependency-item td {
	border-bottom: 0 none;
}
/* ==========================================================================
   end of Libreeze custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */

	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */

	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster: h5bp.com/s */

		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/*
     * Don't show links for images, or javascript/internal links
     */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
		/* h5bp.com/t */
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
